<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">

<resultMap type="board" id="boardMap">
<result column="board_id"     property="no"/>
<result column="title"        property="title"/>
<result column="contents"     property="contents"/>
<result column="created_date" property="createdDate"/>
<result column="view_count"   property="viewCount"/>
</resultMap>

  <select id="selectAll" resultMap="boardMap">
    select * from x_board
  </select>
  
  <select id="selectOne" resultMap="boardMap">
    select * from x_board where board_id = 5
  </select>
  
  <select id="selectAllToMap" resultType="map">
    select * from x_board
  </select>
  
  <select id="selectOneToMap" resultType="map">
    select * from x_board where board_id = 5
  </select>
  
  <select id="selectParameter" resultMap="boardMap" parameterType="int">
    select * from x_board where board_id = #{value}
  </select>
  
  <insert id="insertGo" parameterType="board">
    insert into x_board(title, contents)
    values(#{title}, #{contents})
  </insert>
  
  
  
</mapper>