@charset "UTF-8";

body {
	font-size: small;
}

h1 {
	/* border: solid red 1px; */
	/* text-align: center; */
}

div{
	/* margin: 5px;  */ 
}

.img-thumbnail {
	max-width: 100px;
	max-height: 100px;
}

div#bit-img {
	width: 10%;
	height: auto;
}

div#bit-detail {
	min-height: 500px;
}

div#bit-list {
	min-height: 300px;
}

div.container {
  width: 800px;
}


#bit-login-state {
	margin: 0px 10px;
}

